<h2> address </h2>


<table>
	<thead>
		<tr>

			<th>Podtal Code</th>
			<th>Prefucture</th>
			<th>Address</th>
			<th>street</th>
			<th>Buidding</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td><%= user.postal_number %></td>
		<td><%= user.prefecture_name %></td>
		<td><%= user.adress %></td>
        <td><%= user.street %></td>
		<td><%= user.address_building %></td>
	</tr>

	</tbody>

